<div class="dropdown">
  <button type="button" class="drop-btn" (click)="dropDown()">
    <div class="down-icon">
      v
    </div>
    <div class="img-container" *ngIf="authMenuService.isAuthenticated() | async as authenticated"
         [ngStyle]="{ 'display': authenticated ? 'flex' : 'none' }">
      <img [src]="safeUrl" alt="profile picture">
    </div>
  </button>
  <div class="dropdown-content">
    <a (click)="open_account_modal()">Add profile picture</a>
    <a (click)="open_account_modal()">Reset password</a>
    <a (click)="logout()">Logout</a>
  </div>
</div>
