<nav class="nav-header">
  <div class="nav-container">

    <div class="burger-container">
      <a class="link" (click)="displayNavLinks()">
        <fa-icon [icon]="faList"></fa-icon>
      </a>
    </div>

    <div class="logo-container">
      <a class="logo">{{title}}</a>
    </div>

    <!--  Start of nav-links  -->
    <div class="nav-links">
      <div class="action-links-container">
        <a class="link action" routerLink="" [routerLinkActive]="'routerLinkActive'"
        [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="link action" routerLink="/authentication" [routerLinkActive]="'routerLinkActive'" >Register/login</a>
      </div>
    </div>
    <!--  End of nav-links  -->

    <div class="auth-display"
         [ngStyle]="{ 'display': (authService._isLoggedIn$() && authService._isAdmin$() | async) ? 'flex' : 'none' }">
      <app-auth-menu></app-auth-menu>
    </div>
    <!--  End of auth display  -->
  </div>
</nav>
<router-outlet></router-outlet>
